.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif
}

.div1 { 
    grid-area: 1 / 2 / 2 / 5; 
}

.div2 { 
    grid-area: 2 / 2 / 4 / 5; 
}

.div3 { 
    grid-area: 4 / 2 / 5 / 5; 
}

.div4 { 
    grid-area: 5 / 2 / 6 / 5; 
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 1.3rem;
}

a:hover {
    color: red;
}

/*HEADER*/
    header {
        position: relative;
        padding: 0;
        width: 50%;
        margin: auto;
    }

    .navbar {
        width: 50%;
        height: 60px;
        margin: auto;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
    }

    .navbar .links{
        display: flex;
        gap: 2rem;
    }

    .navbar .toggle_btn {
        color: #000;
        float: right;
        font-size: 2rem;
        cursor: pointer;
        display: none;
    }

/*RESPONSIVE NAV*/
@media(max-width: 990px) {
    .navbar .links, 
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 800px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/* DIVISION 1 */
        .text-box h2 span {
            color: rgb(236, 67, 45);
            font-size: 32px;
        }

        .div1 {
            font-family: Arial, Helvetica, sans-serif;
            width: 75%;
            margin: auto;
        }

        .div1 .card p{
            font-size: 28px;
        }

        .div1 .card h1{
            font-size: 56px;
        }
        
        .container {
            margin-top: 15px;
            background-color: #272727;
            color: white;
            max-width: 1750px;
            height: 700px;
            min-height: 600px;
            padding: 10px;

            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 50px;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
        }

        .imgholder{
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            width: 30%;
            text-align: left;
        }

        img {
            /* border-radius: 500px; */
            position: relative;
            clip-path: circle();
            width: 500px;
            height: auto;
            overflow: hidden;
        }

/* Division 2 */

    .div2 {
        margin-top: 25px;
        width: 75%;
        justify-content: center;
    }
        .container1 {
            color: #ffffff;
            max-width: 1750px;
            background-color: #272727;
            border-radius: 25px;
            border-style: dotted;
            justify-content: center;
            align-items: center;
        }

        .container1 h1, h2, h3 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 28px;
        }

        .container1 p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;
        }
/* DIVISION 3 */
        